.container-fluid
  .row
    .col-sm-3.col-md-3.text-left
      .list-group.padding-above
        .list-group-item.active
          About Sfeet
        = link_to "About", about_path, class: "list-group-item"
        = link_to "FAQ", faq_path, class: "list-group-item"
        = link_to "Help Center", help_center_path, class: "list-group-item"
        = link_to "News", news_path, class: "list-group-item"
        = link_to "Sfeet's Black List", black_list_path, class: "list-group-item"

    .col-sm-7.col-md-7.text-left
      %h1
        Sfeet's Black List
      %h5
        Avoid These Blacklisted Brands and Products!

      We have made of list of products to avoid with links to research that
      helped us decide why to avoid purchaseing these products and brands.
