.container-fluid
  .row
    .col-sm-3.col-md-3.text-left
      .list-group.padding-above
        .list-group-item.active
          About Sfeet
        = link_to "About", about_path, class: "list-group-item"
        = link_to "FAQ", faq_path, class: "list-group-item"
        = link_to "Help Center", help_center_path, class: "list-group-item"
        = link_to "News", news_path, class: "list-group-item"
        = link_to "Sfeet's Black List", black_list_path, class: "list-group-item"

    .col-sm-7.col-md-7.text-left
      %h1
        FAQ

      Some of the most common questions asked by users are answered here. Don't see your answer?
      Send us a message using our Contact Us form.

      .panel.panel-default.margin-above.margin-above-more
        .panel-heading
          %h4
            How can I sort out food labels?
        .panel-body
          Some resources for sorting out food labels can be found at:
          %ul.margin-above
            %li
              = link_to "Green Plus", "http://gogreenplus.org/nuts-and-bolts-guide/planet-nuts-and-bolts-guide/sustainable-purchasing/product-sustainability-certifications/"
            %li
              = link_to "CheapHealthyGood", "http://cheaphealthygood.blogspot.com/2009/05/26-common-food-labels-explained.html"
            %li
              = link_to "ReciPal", "https://www.recipal.com/blogs/72-common-food-product-certifications-and-labeling-terms"
            %li
              = link_to "Epeat", "http://www.epeat.net/"
            %li
              = link_to "Ecolab Index", "http://www.ecolabelindex.com/ecolabels/?st=category,electronics"

      .panel.panel-default.margin-above.margin-above-more
        .panel-heading
          %h4
            What kind of local programs are offered to help me become more sustainably conscious?
        .panel-body
          Boise has a sustainable waste program called Curb It. Read more about it here:
          %ul.margin-above
            %li
              = link_to "Curb It", "http://curbit.cityofboise.org/"
