.container-fluid
  .row
    .col-sm-6.col-md-4.text-center.padding-above
      .thumbnail.thumbnail-no-border
        = image_path("home_feature.jpg", alt: "Home Feature")
      .thumbnail.thumbnail-no-border
        .caption
          %h2 Browse By Category
          - Category.all.each do |category|
            = link_to "#{category.name}", category_path(category), class: "btn btn-primary margin-below"



    .col-sm-6.col-md-4.text-center.padding-above
      .thumbnail.thumbnail-no-border
        = image_path("home_browse.jpg", alt: "Home Browse")
        .caption
          %h2 Browse All Products
          .padding-below
            Not sure what you are looking for? No problem, browse through
            all our listed products.
          = link_to "Browse All Products", products_path, class: "btn btn-primary"

    .col-sm-6.col-md-4.text-center.padding-above
      .thumbnail.thumbnail-no-border
        = image_path( "home_about.jpg", alt: "Home About")
      .thumbnail.thumbnail-no-border
        .caption
          %h2 New To Sfeet?
          .padding-below
            Not sure where to start? Check out our About page, FAQ, and other
            useful information thats Sfeet!
          = link_to "About Sfeet", about_path, class: "btn btn-primary"
