.container-fluid
  .row.row-centered.padding-above
    %h2
      = "Edit '#{@tag.name.capitalize}' Tag Name"

    = form_for(@tag) do |f|
      .user-field.margin-below
        = f.text_field :name, placeholder: "Tag Name (Toys, Food ...)"

      .btn.btn-primary.margin-above
        = f.submit

    %div.button.padding-above
      = link_to 'Cancel', categories_path
