.container-fluid
  .row.gray
    .row-header
      .col-md-10.col-md-offset-1
        %h2
          = "#{@tag.name.capitalize}"
        -if @user != nil
          -if current_user.admin?
            = link_to edit_tag_path(@tag), class: "margin-left margin-right" do
              %i.glyphicon.glyphicon-pencil
            = link_to tag_path(@tag), method: :delete, data: {confirm: "Are you sure you want to delete #{@tag.name}?"} do
              %i.glyphicon.glyphicon-remove
        %h5.margin-above
          Tags:
      .col-md-10.col-md-offset-1.col-count-7
        - @tags.sorted.each do |tag|
          = link_to "#{tag.name.capitalize}", tag_path(tag)
          %br

= render partial: 'products/product_listing', locals: {user: @user, products: @products, empty_msg: "There are no products listed with '#{@tag.name.capitalize}' tag."}
