.container-fluid
  .row.gray
    .row-header
      .col-md-10.col-md-offset-1
        %h2
          = "#{@tag.name.capitalize}"
        = link_to tag_path(@tag), method: :delete, data: {confirm: "Are you sure you want to delete #{@tag.name}?"} do
          %i.glyphicon.glyphicon-remove
        %h5.margin-above
          Tags:
      .col-md-10.col-md-offset-1.col-count-7
        - @tags_sorted.each do |tag|
          = link_to "#{tag.name.capitalize}", tag_path(tag)
          %br

  .row
    .col-md-7.col-md-offset-1.padding-above
      - @tag.products.each do |product|
        .panel.panel-default
          .panel-heading
            .row.margin-left.margin-left-less
              %h5
                = link_to "#{product.name}", product
            .row.margin-left.margin-left-less
              .margin-below
                - case product.price
                  - when "1"
                    = "$"
                  - when "2"
                    = "$$"
                  - when "3"
                    = "$$$"
                  - when "4"
                    = "$$$$"
                  - when "5"
                    = "$$$$$"
                  - when "6"
                    = "$$$$$$"
                  - when "7"
                    = "$$$$$$$"
                &#xb7;
                Category
              .margin-left.margin-left-less
              = link_to edit_product_path(product), class: "margin-right" do
                %i.glyphicon.glyphicon-pencil
              = link_to product_path(product), method: :delete, data: {confirm: "Are you sure you want to delete #{product.name}?"} do
                %i.glyphicon.glyphicon-remove
          .panel-body
            Customer Review Here


    .col-md-3.padding-above
      .thumbnail.thumbnail-thick-boarder
        .caption
          %h3 Add a Product
          Don't see what you are looking for? Add a new product!
          .padding-below
          = link_to 'Add Product', new_product_path, class: "btn btn-primary"
