.container-fluid
  .row.gray
    .row-header-small
      .col-md-10.col-md-offset-1
        %h2
          Categories Inventory

  .row
    .col-md-7.col-md-offset-1.padding-above
      - @categories.each do |category|
        %div{id: "category-row-#{category.id}"}
          .panel.panel-default
            .panel-heading
              .row.margin-left.margin-left-less
                .category-show
                  %h5{id: "category-content-#{category.id}"}
                    = category.name
                  = link_to '','#', onclick: "editCategory(#{category.id})", class: 'glyphicon glyphicon-pencil'
                  = link_to '', category_path(category), method: :delete, data: {confirm: "Are you sure you want to delete #{category.name}?"}, class: 'glyphicon glyphicon-remove', remote: true
                .category-edit
                  = form_for category, remote: true do |pf|
                    = pf.text_field :name, placeholder: "#{category.name}"
                    = pf.submit "Update", class: 'btn btn-primary'
                    = link_to "cancel", '#', onclick: "cancelEditCategory(#{category.id})", class: 'cancel-edit-category-link'

  .row
    .col-md-7.col-md-offset-1.padding-above
      .panel.panel-default
        .panel-heading
          .row.margin-left.margin-left-less
            %h4
              Create New Category
            = form_for(@category) do |f|
              .user-field.margin-below
                = f.text_field :name, placeholder: "Category Name (Toys, Food)"
