.container-fluid
  .row.gray.row-header
    .col-md-10.col-md-offset-1
      %h2
        = "#{@category.name}"
      %h5.margin-above
        Categories:
    .col-md-10.col-md-offset-1.col-count-6
      - @categories.sorted.each do |category|
        = link_to "#{category.name}", category_path(category)
        %br
  .row.gray
    .col-md-10.col-md-offset-1
      %h5.margin-above
        Tags:
    .col-md-10.col-md-offset-1.col-count-7
      - @tags.sorted.each do |tag|
        = link_to "#{tag.name.capitalize}", tag_path(tag)
        %br

  .row
    .col-md-7.col-md-offset-1.padding-above
      - @category.products.each do |product|
        .panel.panel-default
          .panel-heading
            .row.margin-left.margin-left-less
              %h5
                = link_to "#{product.name}", product
            .row.margin-left.margin-left-less
              .margin-below
                = price_range(product.price)
                &#xb7;
                - if product.category.nil? == false
                  = link_to "#{product.category.name}", category_path(product.category)
              .margin-left.margin-left-less
              = link_to edit_product_path(product), class: "margin-right" do
                %i.glyphicon.glyphicon-pencil
              = link_to product_path(product), method: :delete, data: {confirm: "Are you sure you want to delete #{product.name}?"} do
                %i.glyphicon.glyphicon-remove
          .panel-body
            - if product.reviews.nil? == false
              - product.reviews.each do |review|
                - review.rating.to_i.times do |star|
                  .glyphicon.glyphicon-star
                %br
                = review.comment


    .col-md-3.padding-above
      .thumbnail.thumbnail-thick-boarder
        .caption
          %h3 Add a Product
          Don't see what you are looking for? Add a new product!
          .padding-below
          = link_to 'Add Product', new_product_path, class: "btn btn-primary"
