= form_for(product) do |f|
  .dropdown.margin-below
    = f.collection_select(:category_id, Category.all, :id, :name)

  .user-field.margin-below
    = f.text_field :name, placeholder: "Product (Annie's Mac & Cheese)"

  .user-field.margin-below
    = f.text_field :tag_list, placeholder: "Tags (chips, boxed meals, snacks)"

  .margin-above
    .inline
      = f.radio_button(:price, "1")
      %br/
      = label_tag(:price_1, "$0-$5")
    .inline.margin-left
      = f.radio_button(:price, "2")
      %br/
      = label_tag(:price_2, "$5-$10")
    .inline.margin-left
      = f.radio_button(:price, "3")
      %br/
      = label_tag(:price_3, "$10-$15")
    .inline.margin-left
      = f.radio_button(:price, "4")
      %br/
      = label_tag(:price_4, "$15-$20")
    .inline.margin-left
      = f.radio_button(:price, "5")
      %br/
      = label_tag(:price_5, "$20-$25")
    .inline.margin-left
      = f.radio_button(:price, "6")
      %br/
      = label_tag(:price_6, "$25+")


  .btn.btn-primary.margin-above
    = f.submit
