= form_for (product) do |f|
  .dropdown.margin-below
    = f.collection_select(:category_id, Category.all, :id, :name)

  .user-field.margin-below
    = f.text_field :name, placeholder: "Product (Annie's Mac & Cheese)"

  .user-field.margin-below
    = f.text_field :tag_list, placeholder: "Tags (chips, boxed meals, snacks)"

  .margin-above
    - (1..4).each do |i|
      .inline.margin-sides
        = f.radio_button(:price, i.to_s)
        %br/
        =label_tag(price_range(i))

  .btn.btn-primary.margin-above
    = f.submit
